@media only screen and (min-width: 500px) and (max-width: 800px) {
    .overallContainer {
      width: 100%;
      min-height: 500%;
    
    }
    .navbarContainer {
      width: 100%;
        padding: 0;
        position: relative;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        
    }
    .shadowTrasfroms {
      background-color: rgba(250, 247, 247, 0.5);

    }
    .subNavbar {
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100vh;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 15px;
        padding: 50px 105px;
        left: -100%; 
        transition: left 1s ease; 
        background-color: rgb(250, 247, 247);
      }
      .logoContainer {
        padding-left: 80px;
      }
   
    hr {
      display: block;
        width: 73%;
        position: fixed;
        top: 120%;
    }

    .searchContainer {
      display: none;
    }
    form {
      display: block;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    .search-input {
      width: 100%;
      height: 40px;
      padding-left: 10px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #2F2E41;
      background-color: transparent;
      background-clip: padding-box;
      border: none;
      border: 1px solid gray;
      border-radius: 3px;
    }
    .btnSearch {
      width: 50px;
      height: 40px;
      display: inline-block;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ff1717;
      background-color: transparent;
      border: 1px solid #FF9A5A;
      border-radius: 50%;
        
    }
    .iconDiv {
      position: fixed;
      right: 7%;
      width: 50px;
      height: 35px;
      display: flex;
      color: #2F2E41;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      border: 1px solid #e4e4ee;
      border-radius: 3px;
    }
   
  input:checked ~ .subNavbar {
      left: 0; 
  }
  .iconChech {
    opacity: 1;
  }
 
    .subNavbar a:before {
    width: 100%;
  }
 
 /* home page mobile media query */
  .homePageContainer {
    width: 100%;
    min-height: 550%;
    flex-direction: column-reverse;
    padding-top: 130px;
  }

 
  .rightContentContainer {
    width: 100%;
    min-height: 200px;
    padding: 0 10px;
  }
  .imageStyles {
    width: 70%;
    height: 280px;
  }
  .leftContentContainer {
    width: 100%;
    padding: 0px;
    
  }
  .contentContainer {
    width: 100%;
    min-height: 450px;
    text-align: center;
    padding-top: 50px;
  }
  .paragraphHomePage {
    padding: 0 7px;
  }
  
 /* service page mobile media query */
 .servicesOverallContainer {
    padding: 0;
 }
 
 .serviceH1 {
  font-size: 30px;
 }
 
 .cardOverallDiv {
  width: 100%;
  min-height: 500%;
  padding: 0 20px;
  flex-direction: column;
  gap: 20px;
}
.cardContainer {
  width: 50%;
  min-height: 100%;
  padding: 40px 28px;
}
/* small cards */
.findusOverallContainer {
  padding-top: 100px;
}
.smallCardsOverallContainer {
  flex-direction: column;
  width: 100%;
  min-height: 1000px;
  row-gap: 50px;
}
.smallImageCard {
  width: 60%;
  height: 190px;
  text-align: center;
  background-color: rgba(228, 228, 238, 0.5);
  box-shadow: 0 0 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* video content */
.videoOverallContainer  {
  width: 100%;
  min-height: fit-content;
  justify-content: center;
  align-items: center;
}

.imageContainerforVideo  {
  width: 90%;
  min-height: 250px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  left: 10px;
}
.secImageStyles {
  width: 100%;
  height: 350px;
  object-fit: cover;
  outline: 175px solid rgba(12, 11, 11, 0.8) !important;
  outline-offset: -175px;
  border-radius: 10px;
}

.imageContentforVideo {
  width: 100%;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 65px;
}
.imageH2 {
  padding-top: 10px;
}

/* testtimonial */
.testCardOverallContainer {
    min-height: 650px;
}
.testimonialContainer {
  background-position: 90px 20px;
}
/* slider card section */
.slideCardOverallContainer::after {
  content: none;
}
.slideCardOverallContainer::before {
  content: none;
}

.insideSlideContainer {
  animation: slideAnimation 10s linear ease-in-out;
  
}
.insideCards {
  width: 310px;
  height: 320px;
  transition: transform 5s ease-in-out;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(calc(-480px * 1));
  }
  10% {
    transform: translateX(calc(-480px * 1));
  }
  20% {
    transform: translateX(calc(-480px * 1));
  }
  30% {
    transform: translateX(calc(-480px * 2)); /* Adjust based on card width */
  }
  40% {
    transform: translateX(calc(-480px * 3));
  }
  50% {
    transform: translateX(calc(-480px * 4)); /* Adjust based on card width */
  }
  60% {
    transform: translateX(calc(-480px * 5));
  }
  70% {
    transform: translateX(calc(-480px * 6));
  }
  80% {
    transform: translateX(calc(-480px * 7));
  }
  90% {
    transform: translateX(calc(-480px * 8));
  }
  100% {
    transform: translateX(calc(-480px * 9)); /* Adjust based on card width */
  }
  110% {
    transform: translateX(calc(-480px * 10));
  }
  
}
#slider label {
  width: 70%;
  height: 170%;
}

.branchesParaCon {
  padding: 0px 69px;
}

.rotatioOverallContainer {
  justify-content: center;
  min-height: 1000px;
}
.rotationContentContainer {
  padding: 150px 0 0 0;
  width: 80%;
}
.rotation-container {
  left: 300px;
}
.contactUsFormOverallConatinner {
  flex-direction: column;
  min-height: 1000px;
  align-items: center;
}
.container {
  min-height: 444px;
  width: 100%;
}
.contactusformContainer {
  width: 100%;
}
.contactusImageContainer {
  width: 100%;
}
 .containerForFooter {
  min-height: 100px;
 }
 .containerForFooter {
  padding: 0;
 }
 .footerpara {
  width: 280px;
 }
.memail {
  width: 80%;
}




}
  